import Gl{{pascalCase name}} from './{{name}}.vue';
import readme from './{{name}}.md';

const defaultValue = (prop) => Gl{{pascalCase name}}.props[prop].default;

const generateProps = ({
  // label = defaultValue('label'),
} = {}) => ({
  // label
});

export default {
  title: 'base/{{name}}',
  component: Gl{{pascalCase name}},
  parameters: {
    docs: {
      description: {
        component: readme,
      },
    },
  },
  argTypes: {},
};

const Template = (args, { argTypes }) => ({
  components: { Gl{{pascalCase name}} },
  props: Object.keys(argTypes),
  template: `
    <gl-{{kebabCase name}} />
  `,
});

export const Default = Template.bind({});
Default.args = generateProps();
